// position
// box-model
// typography
// decor
// transition
// animation
// other

body {
  // box-model
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // typography
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  // decor
  background-color: #091921;

  .calculator {
    // position
    position: relative;
    // box-model
    display: grid;

    &::before {
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 1px;
      right: 1px;
      z-index: -1;

      content: '';

      background-image: linear-gradient(45deg, orangered, violet, slateblue, red, lightblue, yellow, brown, pink);
      background-size: 300%;
      filter: blur(5px);

      animation: gradient 20s linear infinite;
      animation-duration: alternate;
    }

    #display {
      // box-model
      grid-column: span 4;
      height: 100px;
      /* padding: 10px; */
      // typography
      font-size: 18px;
      text-align: right;
      // decor
      border: 10px solid #f1f2f6;
      outline: none;
      background-color: #f1f2f6;
    }

    #current-calculations {
      // position
      position: absolute;
      top: 0px;
      right: 0px;
      // box-model
      display: inline-block;
      width: 320px;
      /* padding-left: 5px;
      padding-right: 5px; */
      overflow: hidden;
      // typography
      font-size: 12px;
      text-align: right;
      color: #7a7a7a;
      // decor
      border: 10px solid #f1f2f6;
    }

    button {
      // box-model
      display: grid;
      place-items: center;
      width: 80px;
      height: 80px;
      // typography
      color: #ffffff;
      // decor
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #0c2535;
      // transition
      transition: 0.2s;
      // other
      cursor: pointer;
      user-select: none;

      &:hover {
        // decor
        background-color: #0c354e;
      }

      &:active {
        // typography
        color: #111111;
        // decor
        outline: none;
        border: none;
        background-color: #03b1ff;
      }
    }

    .equal {
      // box-model
      grid-column: span 4;
      width: 320px;
    }

    .pow {
      letter-spacing: -4px;
    }

    .description {
      // position
      position: absolute;
      top: 50%;
      right: -120px;
      // box-model
      display: block;
      width: 360px;
      height: auto;
      padding: 10px;
      // typography
      font-size: 0.75em;
      line-height: 1.25rem;
      // decor
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 0 10px #000000;
      // transition
      transform: translateY(-50%);
    }

    .visibility {
      // box-model
      display: none;
    }

    .help {
      // position
      position: absolute;
      top: 70px;
      left: 10px;
      // box-model
      display: inline-block;
      width: 18px;
      height: 22px;
      // typography
      color: #03b1ff;
      text-align: center;
      // other
      cursor: pointer;
    }

    .light {
      // typography
      color: #0c354e;
    }

    .nick {
      // typography
      text-align: right;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
